<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.pde.ui.pluginContent">
      <wizard
            class="org.eclipse.rap.e4.tooling.HelloE4RAPWizard"
            icon="$nl$/icons/etool16/newexprj_wiz.gif"
            id="org.eclipse.rap.e4.tooling.app"
            java="true"
            name="RAP e4 application"
            rcp="false"
            ui-content="true">
      </wizard>
   </extension>

</plugin>
